* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_4 {
  width: 100%;
  height: 3243px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_4 {
  width: 967px;
  height: 149px;
  background: rgba(196,196,196,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 439px;
  overflow: hidden;
}
.v8_5 {
  width: 100%;
  height: 339px;
  background: rgba(20,39,74,1);
  opacity: 1;
  position: absolute;
  top: 2916px;
  left: 0px;
}
.v72_121 {
  width: 100%;
  height: 339px;
  background: rgba(20,39,74,1);
  opacity: 1;
  position: absolute;
  top: 2916px;
  left: 0px;
}
.v8_41 {
  width: 100%;
  height: 384px;
  background: url("images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1878px;
  left: 114px;
  overflow: hidden;
}
.v8_42 {
  width: 100%;
  height: 384px;
  background: url("images/v8_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v8_43 {
  width: 178px;
  height: 63px;
  background: url("images/v8_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 0px;
  overflow: hidden;
}
.v8_44 {
  width: 178px;
  height: 63px;
  background: rgba(224,185,115,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v8_45 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 54px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_46 {
  width: 394px;
  color: rgba(20,39,74,1);
  position: absolute;
  top: 102px;
  left: 4px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v8_47 {
  width: 100%;
  color: rgba(20,39,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans JP;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v8_49 {
  height: 350px;
  background: url("images/v8_49.png");
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  border: 2px solid rgba(20,39,74,1);
}
.v26_3 {
  width: 100%;
  height: 384px;
  background: url("images/v26_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2397px;
  left: 114px;
  overflow: hidden;
}
.v26_4 {
  width: 100%;
  height: 384px;
  background: url("images/v26_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v26_5 {
  width: 178px;
  height: 63px;
  background: url("images/v26_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 0px;
  overflow: hidden;
}
.v26_6 {
  width: 178px;
  height: 63px;
  background: rgba(224,185,115,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_7 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 53px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v26_8 {
  width: 394px;
  color: rgba(20,39,74,1);
  position: absolute;
  top: 102px;
  left: 4px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v26_9 {
  width: 100%;
  color: rgba(20,39,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans JP;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v26_10 {
  height: 350px;
  background: url("images/v26_10.png");
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  border: 2px solid rgba(20,39,74,1);
}
.v8_51 {
  width: 663px;
  height: 418px;
  background: url("images/v8_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1408px;
  left: 113px;
  overflow: hidden;
}
.v8_52 {
  width: 627px;
  height: 418px;
  background: url("images/v8_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v8_53 {
  width: 174px;
  height: 63px;
  background: url("images/v8_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 0px;
  overflow: hidden;
}
.v8_54 {
  width: 174px;
  height: 63px;
  background: rgba(224,185,115,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v8_55 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_56 {
  width: 385px;
  color: rgba(20,39,74,1);
  position: absolute;
  top: 97px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v8_57 {
  width: 627px;
  color: rgba(20,39,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans JP;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v8_59 {
  height: 334px;
  background: url("images/v8_59.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  border: 2px solid rgba(20,39,74,1);
}
.v8_62 {
  width: 100%;
  height: 1080px;
  background: url("images/v8_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_63 {
  width: 100%;
  height: 100%;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_64 {
  width: 100%;
  height: 100%;
  background: url("images/v8_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_66 {
  width: 100%;
  height: 1041px;
  background: url("images/v8_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
  overflow: hidden;
}
.v8_67 {
  width: 87px;
  height: 105px;
  background: url("images/v8_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 935px;
  left: 613px;
  overflow: hidden;
}
.v8_68 {
  width: 61px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 17px;
}
.v8_69 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_79 {
  width: 100%;
  height: 148px;
  background: url("images/v8_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v8_80 {
  width: 867px;
  height: 67px;
  background: url("images/v8_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 408px;
  overflow: hidden;
}
.v8_82 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_83 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 206px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_84 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 450px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_85 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 665px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v8_86 {
  width: 250px;
  height: 148px;
  background: url("images/v8_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_87 {
  width: 250px;
  height: 148px;
  background: rgba(224,185,115,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 12px;
}
.v8_88 {
  width: 210px;
  height: 88px;
  background: url("images/v8_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 40px;
  overflow: hidden;
}
.v8_89 {
  width: 134px;
  color: rgba(20,39,74,1);
  position: absolute;
  top: 66px;
  left: 18px;
  font-family: Noto Sans JP;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_90 {
  width: 210px;
  color: rgba(20,39,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans JP;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v8_91 {
  width: 798px;
  height: 617px;
  background: url("images/v8_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 0px;
  overflow: hidden;
}
.v13_6 {
  width: 788px;
  height: 501px;
  background: rgba(196,196,196,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 10px;
  border-radius: 38px;
  /* border: 15px solid rgba(0,0,0,1); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_5 {
  width: 729px;
  color: rgba(255,255,255,0.9599999785423279);
  position: absolute;
  top: 146px;
  left: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 154px;
  opacity: 1;
  text-align: left;
}
.v8_94 {
  width: 496px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v8_71 {
  width: 200px;
  height: 77px;
  background: rgba(224,185,115,1);
  opacity: 1;
  position: absolute;
  top: 935px;
  left: 86px;
}
.v13_12 {
  width: 143px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 950px;
  left: 115px;
  font-size: 41px;
  opacity: 1;
  text-align: left;
}
.v15_2 {
  width: 100%;
  height: 245px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 1081px;
  left: 0px;
  overflow: hidden;
}
.v8_61 {
  width: 694px;
  color: rgba(20,39,74,1);
  position: absolute;
  top: 100px;
  left: 373px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v34_11 {
  width: 789px;
  height: 42.5%;
  background: url("images/v34_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1410px;
  left: 950px;
  overflow: hidden;
}
.v72_122 {
  width: 100%;
  height: 339px;
  background: rgba(20,39,74,1);
  opacity: 1;
  position: absolute;
  top: 2916px;
  left: 0px;
}
.v72_123 {
  width: 172px;
  height: 175px;
  background: url("images/v72_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3028px;
  left: 770px;
  overflow: hidden;
}
.v72_124 {
  width: 289px;
  color: rgba(255,255,255,0.9599999785423279);
  position: absolute;
  top: 3085px;
  left: 960px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}


a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    background-color: #eab676;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 55px;
    color: white;
    margin-left: 10%;
    margin-top: 900px;
    text-align: center;
    transition: all 0.2s;
    float: left;
/*     z-index: -1;
    position: relative; */
}

a.button1: hover{
    color:#000000;
    background-color: #FFFFFF;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto
    }
}




.demo {
    display:inline-block;
    text-decoration: none;
}
.button2 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}


