<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Home.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>  
    <div class="v8_4">
        <div class="v67_4"></div>
        <div class="v8_5"></div>
        <div class="v72_121"></div>
        <div class="v8_41">
            <div class="v8_42">
                <div class="v8_43">
                    <div class="v8_44"></div><a class="v8_45" href="meet.html">TEAM</a>
                </div><span class="v8_46">Learn more about the people behind the fashion detector and the
                    specializations they brought to the project.</span><span class="v8_47">Meet the Team</span>
            </div>
            <div class="v8_49"></div>
        </div>
        <div class="v26_3">
            <div class="v26_4">
                <div class="v26_5">
                    <div class="v26_6"></div>
                  <a class="button2" href='#' id='seefood_button'>
                    <form id='seefood_form' method=post enctype=multipart/form-data>
                          <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                    </form>
                    DEMO
                  </a>
                </div><span class="v26_8">Demo our final product here,
                    and test its aptitude to detect
                    shirts, jeans, pants, hoodies, glasses, and hats!</span><span class="v26_9">Demo</span>
            </div>
            <div class="v26_10"></div>
        </div>
        <div class="v8_51">
            <div class="v8_52">
                <div class="v8_53">
                    <div class="v8_54"></div><a class="v8_55" href="overview.html">OVERVIEW</a>
                </div><span class="v8_56">Click here for what we learned while creating this project and the concepts
                    that we used!</span>
              <span class="v8_57">Overview</span>
            </div>
            <div class="v8_59"></div>
        </div>
        <div class="v8_62">
            <div class="v8_63"></div>
            <div class="v8_64"></div>
        </div>
        <div class="v8_66">
            <div class="name"></div>
            <div class="v8_79">
                <div class="v8_80"><a class="v8_82" href="{{ url_for('home') }}">Home</a><a class="v8_83" href="overview.html">Overview</a><a class="v8_84" href="timeline.html">Timeline</a><a class="v8_85" href="meet.html">Meet the Team</a></div>
                <div class="v8_86">
                    <div class="v8_87"></div>
                    <div class="v8_88"><span class="v8_89">Detector</span><span class="v8_90">Fashion</span></div>
                </div>
            </div>
            <div class="v8_91">
                <div class="v13_6"></div><span class="v13_5">Fashion Detector
                </span><span class="v8_94">WELCOME TO THE</span>
            </div>
            <div class="button1">
                  <a class="button1" href='#' id='x'>
                      <form id='seefood_form' method=post enctype=multipart/form-data>
                          <input id="y" name="file" type="file" onchange="this.form.submit();" hidden/>
                      </form>
                      <strong>TRY IT!</strong>
                  </a>

           </div>
        </div>
        <div class="v34_11"></div>
        <div class="v72_123"></div><span class="v72_124">Group Intel</span>
    </div>
      <!--     javascript added for uploading a photo    -->
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
      
     
        document.getElementById('x').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('y').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });

        });
    </script>
</body>

</html>