<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Meet.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Home.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v8_209">
        <div class="v8_249">
            <div class="v8_250"></div>
            <div class="v8_251"></div>
            <div class="v8_252"></div>
        </div>
        <div class="v8_253"></div><span class="v36_2">Meet the Team!</span>
        <div class="v68_8">
            <div class="v68_5"></div><span class="v68_6">Arnav Gupta</span><span class="v68_7">A high school junior
                living in California. Enjoys playing playing soccer and video games</span>
        </div>
        <div class="v73_2">
            <div class="v73_3"></div><span class="v73_4">Teerthraj Parmar</span><span class="v73_5">High school junior
                from New Jersey. Enjoys playing and watching soccer, coding, and reading.</span>
        </div>
        <div class="v73_6">
            <div class="v73_7"></div><span class="v73_8">Neel Sirivara</span><span class="v73_9">A high school sophomore
                from Washington who enjoys Tabla and tennis, alongside business and tech-focused activities.</span>
        </div>
        <div class="v73_10">
            <div class="v73_11"></div><span class="v73_12">Dhruv Awasthi</span><span class="v73_13">Year 11 from
                England. Enjoys playing video games and cricket.</span>
        </div>
        <div class="v73_14">
            <div class="v73_15"></div><span class="v73_16">Marcus Donchuanchom</span><span class="v73_17">A high school
                junior living in California</span>
        </div>
        <div class="v73_18">
            <div class="v73_19"></div><span class="v73_20">Kenji Guo</span><span class="v73_21">High school junior from
                California. Enjoys playing video games and robotics.</span>
        </div>
        <div class="v73_22"></div>
        <div class="v73_28"><span class="v73_25">Dhruv
                Karia</span><span class="v73_27">AI Camp TA and sophomore at UW!</span></div>
        <div class="v73_29"></div>
        <div class="v74_17">
            <div class="v8_80"><a class="v8_82" href="{{ url_for('home') }}">Home</a><a class="v8_83" href="overview.html">Overview</a><a class="v8_84" href="timeline.html">Timeline</a><a class="v8_85" href="meet.html">Meet the Team</a></div>
            <div class="v74_23">
                <div class="v74_24"></div>
                <div class="v8_88"><span class="v8_89">Detector</span><span class="v8_90">Fashion</span></div>
            </div>
        </div>
        <div class="v74_28">
          <div class="v74_29"><span class="v74_30">Meet the Team</span></div>
        </div>
        <div class="v74_31"></div>
        <div class="v96_2"></div>
        <div class="v72_55"></div>
        <div class="v72_167"></div>
        <div class="v72_168"></div>
        <div class="v72_169"></div><span class="v72_170">Group Intel</span>
        <div class="v72_171"></div>
        <div class="v72_172"></div><span class="v72_173">Group Intel</span>
        <div class="v100_2"></div>
        <div class="v101_3"></div>
        <div class="v141_3"></div>
    </div>
</body>

</html>