<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Home.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Overview.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v8_96">
        <div class="v67_5"></div>
        <div class="v8_121">
            <div class="v8_122"></div>
            <div class="v8_123"></div>
        </div>
        <div class="v14_108">
            <div class="v14_113">
                <div class="v8_80"><a class="v8_82" href="{{ url_for('home') }}">Home</a><a class="v8_83" href="overview.html">Overview</a><a class="v8_84" href="timeline.html">Timeline</a><a class="v8_85" href="meet.html">Meet the Team</a></div>
                <div class="v14_119">
                    <div class="v14_120"></div>
                    <div class="v14_121"><span class="v14_122">Detector</span><span class="v14_123">Fashion</span></div>
                </div>
            </div>
            <div class="v14_124">
                <div class="v14_125"></div><span class="v14_127">Overview</span>
            </div>
        </div>
        <div class="v8_155"><span class="v8_156">We wanted to create an original project, but a model that can be used
                in companies as well.

            </span></div><span class="v14_130">Why We Chose This Project</span><span class="v14_131">The
            Function</span><span class="v14_133">The Fashion Detector can detect different kinds of clothing, such as
            shirts, glasses, hats, jeans, and more.</span><span class="v14_134">Uses of Our Project</span><span
            class="v20_2">This model can be used to record fashion trends, can be used to identity people, and help
            fashion stores with their actions. </span>
        <div class="v72_146"></div>
        <div class="v72_147"></div>
        <div class="v72_148"></div><span class="v72_149">Group Intel</span>
        <div class="v72_150"></div>
        <div class="v72_151"></div><span class="v72_152">Group Intel</span>
    </div>
</body>

</html>