<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Timeline.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Home.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v66_2">
        <div class="v66_27">
            <div class="v66_28"></div>
            <div class="v66_29"></div>
        </div>
        <div class="v66_32">
            <div class="v66_33">
                <div class="v8_80"><a class="v8_82" href="{{ url_for('home') }}">Home</a><a class="v8_83" href="overview.html">Overview</a><a class="v8_84" href="timeline.html">Timeline</a><a class="v8_85" href="meet.html">Meet the Team</a></div>
                <div class="v66_39">
                    <div class="v66_40"></div>
                    <div class="v8_88"><span class="v8_89">Detector</span><span class="v8_90">Fashion</span></div>
                </div>
            </div>
            <div class="v66_44">
                <div class="v66_45"></div><span class="v66_46">Timeline</span>
            </div>
        </div>
        <div class="v66_47"></div><span class="v66_48">In the second week, we learned about data organization using pandas and
                csv files. We finished labelling our data and prepped it for training. By the end of the week, we
                successfully trained our model.</span><span class="v66_49">Week 2</span><span class="v66_50">Week
            1</span><span class="v66_51">During the first week, we learned the basics of python and used labelbox to
            gather, label, and organize data.</span><span class="v66_52">Week 3</span><span class="v66_53">In the last
            week, we created this website to showcase our model. Using Flask, we were able to embed python into the
            website so you can use our AI model. We used html/css to create the aesthetics of this website.</span>
        <div class="v72_153"></div>
        <div class="v72_154"></div>
        <div class="v72_155"></div><span class="v72_156">Group Intel</span>
        <div class="v72_157"></div>
        <div class="v72_158"></div><span class="v72_159">Group Intel</span>
    </div>
</body>

</html>